# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
*.DS_Store

# Large datasets
data/
*.csv

# Ignore all bash scripts
/bash/

# Ignore the entire graphing directory
/graphing/

# Ignore tex directory
/tex/

# Ignore everything in result directory except graph/ and README.md
/result/*
!/result/graph/
!/result/README.md